.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

li {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  li {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .column-half {
    width: 50%;
  }
}
